main {
  border: 1px solid red;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.movie-list {
  border: 1px solid red;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.movie-card {
  border: 1px solid black;
  width: 200px;
}

.movie-card img {
  aspect-ratio: 2 / 3;
  width: 100%;
  object-fit: cover;
}

.movie-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  flex-direction: column;
}

/*
Modal
*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #2a2a2a;
  border-radius: 1rem;
  width: 80%; /* Could be more or less, depending on screen size */
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
}

.true {
  display: block;
}

.modal-content img {
  width: 30%;
  max-width: 300px;
  min-width: 150px;
  aspect-ratio: 2 / 3;
}

.modal-content button {
  padding: 0.5rem 1rem;
}

/* Responsive Design */
@media (max-width: 500px) {
  .movie-card {
    border: 1px solid black;
    width: 100px;
    height: 200px;
  }

  .movie-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    flex-direction: column;
  }
}
