main {
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

/* SideBar Styling */
.side-bar i {
  font-size: 2rem;
  cursor: pointer;
}

.side-bar i:hover {
  color: #564d4d;
}

/* SearchBar Styling */
.search-button {
  background-color: #564d4d;
  border-radius: 1rem;
  border: 1px solid #2a2a2a;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.search-button:hover {
  background-color: #564d4d82;
  border: #2a2a2a 1px solid;
}

form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text-field {
  padding: 0.5rem 1rem;
  border: 1px solid #564d4d;
  border-radius: 50px;
}

.sorting-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.sorting-dropdown select {
  border: 1px solid #564d4d;
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

/* Movie Card & Movie List */

.movie-list {
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.movie-card {
  box-shadow: 0px 0px 14px -4px #564d4d;
  width: 200px;
  cursor: pointer;
  border: 1px solid #564d4d;
  height: 460px;
}

.movie-card:hover {
  box-shadow: 0px 0px 14px -4px rgba(255, 0, 0, 0.51);
  transform: scale(1.1, 1.1);
}

.movie-card img {
  aspect-ratio: 2 / 3;
  width: 100%;
  object-fit: cover;
}

.movie-info {
  width: 100%;
  aspect-ratio: 10/1;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 1rem;
  flex-direction: column;
}

.movie-info h3,
.movie-info p {
  height: 50%;
}

.movie-info h3 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.movie-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
}

.movie-buttons i:hover,
.movie-buttons .fa-solid {
  color: red;
}

/* Rounded Borders */
.movie-card,
.movie-info,
.movie-buttons,
.clickeable-content,
.movie-card img {
  border-radius: 1rem;
}

.load-more {
  margin: 1rem 0;
}

/*
Modal
*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}

.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #2a2a2a;
  border-radius: 1rem;
  width: 80%; /* Could be more or less, depending on screen size */
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  gap: 1rem;
}

.true {
  display: block;
}

.modal-content img {
  width: 30%;
  max-width: 4iuubgernribnbuurifegdedjdbcuggtk00px;
  min-width: 150px;
  aspect-ratio: 3 / 2;
}

.modal-content button {
  padding: 0.5rem 1rem;
}

.modal-content iframe {
  width: 100%;
  max-width: 500px;
}

/* Responsive Design */
@media (max-width: 500px) {
  main {
    padding: 0.5rem;
  }

  /* SideBar Styling */
  .side-bar i {
    font-size: 1.5rem;
  }

  /* SearchBar Styling */
  .search-button {
    font-size: 0.75rem;
  }

  form {
    gap: 0.5rem;
  }

  .text-field {
    width: 100px;
  }

  .sorting-dropdown {
    font-size: 0.75rem;
  }

  .sorting-dropdown select {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }

  /* Movie Card & Movie List */
  .movie-card {
    border: 1px solid black;
    width: 100px;
    height: 250px;
  }

  .movie-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    flex-direction: column;
  }

  .movie-card img {
    aspect-ratio: 2 / 3;
    width: 100%;
    object-fit: cover;
  }

  .movie-info {
    height: 50px;
  }

  .movie-buttons {
    height: 25px;
  }

  /*
Modal
*/
}
