@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
  font-weight: 200;
}

h3 {
  font-size: 1.25rem;
  font-weight: 200;
}

h4 {
  font-size: 1rem;
  font-weight: 100;
}

p {
  font-size: 0.75rem;
  font-weight: 100;
}

@media (max-width: 500px) {
  h1 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
  }

  h2 {
    font-size: 0.75rem;
    font-weight: 200;
  }

  h3 {
    font-size: 0.5rem;
    font-weight: 200;
  }

  h4 {
    font-size: 0.5rem;
    font-weight: 100;
  }

  p {
    font-size: 0.5rem;
    font-weight: 100;
  }
}
